# Dependencies
node_modules/

# Environment Variables
.env

# Build Output
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/

# Coverage
coverage/

# Docker
*.tar